<div class="outer">
  <div class="middle">
    <div class="inner"  style="background:whitesmoke; border-radius:30px; padding:50px">
      <div>
        <h1>Registrate con nosotros</h1>
      </div>
      <form class="form-horizontal" novalidate
            [formGroup]="formGroup">
        <fieldset>
          <div class="form-group"
               [ngClass]="{'has-error': (formGroup.get('fullname').touched || formGroup.get('fullname').dirty) && !formGroup.get('fullname').valid }">
            <label class=" control-label"
                   for="fullnameID">Fullname</label>

            <div>
              <input class="form-control"
                     id="fullnameID"
                     type="text"
                     required
                     formControlName="fullname" />
              <span class="help-block" *ngIf="(formGroup.get('fullname').touched || formGroup.get('fullname').dirty) && formGroup.get('fullname').errors">
                <span *ngIf="formGroup.get('fullname').errors.required">
                  El campo nombre es requerido
                </span>
              </span>
            </div>
          </div>
          <div class="form-group"
               [ngClass]="{'has-error': (formGroup.get('email').touched || formGroup.get('email').dirty) && !formGroup.get('email').valid }">
            <label class=" control-label"
                   for="emailId">Email</label>

            <div>
              <input class="form-control"
                     id="emailId"
                     type="text"
                     required
                     formControlName="email" />
              <span class="help-block" *ngIf="(formGroup.get('email').touched || formGroup.get('email').dirty) && formGroup.get('email').errors">
                <span *ngIf="formGroup.get('email').errors.required">
                  El campo email es requerido
                </span>
              </span>
            </div>
          </div>

          <div class="form-group"
               [ngClass]="{'has-error': (formGroup.get('password').touched || formGroup.get('password').dirty) && !formGroup.get('password').valid }">
            <label class=" control-label"
                   for="passwordId">Password</label>

            <div>
              <input class="form-control"
                     id="passwordId"
                     type="password"
                     required
                     formControlName="password" />
              <span class="help-block" *ngIf="(formGroup.get('password').touched || formGroup.get('password').dirty) && formGroup.get('password').errors">
                <span *ngIf="formGroup.get('password').errors.required">
                  El campo password es requerido
                </span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <div class=" col-md-offset-2">
              <span>
                <button class="btn btn-primary"
                        type="button"
                        (click)="registrarse()"
                        [disabled]="!formGroup.valid">
                  Registrarse
                </button>
                <a class="linked"
                   [routerLink]='["/login"]'>
                  ¿Tienes una cuenta? Inicia tu sesion aqui.
                </a>
                <button class="btn"
                        type="button"
                        [routerLink]='["/"]'>
                  Cancelar
                </button>
              </span>

            </div>

          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>
