.card-body div a{
  float: right;
  font-size: 12px;
  font-weight:700;
  border-radius: 50px;
}
.card-body {
  color: white;
  background: linear-gradient(0deg, rgba(21,21,22,1) 0%, rgba(21,21,22,1) 35%, rgba(98,108,110,0.711922268907563) 90%);
}
@media (min-width: 1200px) {
  /* some CSS for small resolution */
.card {
  width:22.5%; margin:13px;
}
}
@media (max-width: 1199px) {
  /* some CSS for small resolution */
  .card {
    width: 30.3%;
    margin: 13px;
  }
}
@media (max-width: 991px) {
  /* some CSS for small resolution */
  .card {
    width: 45.5%;
    margin: 13px;
  }
}
@media (max-width: 768px) {
  /* some CSS for small resolution */
  .card {
    width: 90%;
    margin: 13px;
  }
}
