<div class="container">
<h2 style="font-weight:800">CLASES EN VIVO<span class="badge badge-danger" style="margin:10px">New</span></h2>
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div>
            <a href="#" class="btn btn-success">DETALLES</a>
          </div>
        </div>
      </div>
      <div class="card" >
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div>
            <a href="#" class="btn btn-success">DETALLES</a>
          </div>
        </div>
      </div><div class="card"  >
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div>
            <a href="#" class="btn btn-success">DETALLES</a>
          </div>
          </div>
        </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <div>
            <a href="#" class="btn btn-success">DETALLES</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
