<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">College Virtual</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-ligth" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-ligth" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-ligth" [routerLink]="['/personas']">Support</a>
          </li>
          <li class="nav-item" *ngIf="!estaLogueado()" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-success" [routerLink]='["/login"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-th-list'></span> Login
            </a>
          </li>
          <li class="nav-item" *ngIf="!estaLogueado()" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-info" [routerLink]='["/register"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-th-list'></span> Register
            </a>
          </li>
          <li *ngIf="estaLogueado()" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-info" style="cursor:pointer">
              <span class='glyphicon glyphicon-th-list'></span> {{obtenerUniqueName()}}
            </a>
          </li>
          <li *ngIf="estaLogueado()" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-danger" (click)='logout()' style="cursor:pointer">
              <span class='glyphicon glyphicon-th-list'></span> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
